<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicmhvZHd1bGYiLCJhIjoiY2xoMnFsYWEyMWY2NjNncG1nYzJqdjYzdiJ9.LS2oppcl1UHL0qHK9KX9Cg</string>
</dict>
</plist>
